.footer {
    background-color: rgb(30,30,30);
    color: white;
    padding: 40px 20px 20px 20px;
    font-family: Arial, sans-serif;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-right: 25px;
    padding-left: 25px;
}

.footer-contact, .footer-links, .footer-social {
    min-width: 200px;
    margin: 10px;
    font-size: 20px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 8px;
}

.footer-social a {
    margin-right: 10px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid black;
    padding-top: 10px;
    font-size: 14px;
}
