body {
    margin: 0;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    padding: 10px 20px;
    height: 95px;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.navbar.scrolled {
    background-color: rgb(30,30,30);
    transition: background-color 0.6s ease;
}

.logo {
    color: white;
    font-weight: bolder;
    font-size: 50px;
    font-family: "Big Caslon";
    padding-bottom: 2px;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    flex: 1;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    font-size: 30px;
    text-decoration: none;
    padding: 40px 40px;
    align-items: center;
    height: 100%;
}

.nav-links a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transition: background-color 0.3s ease-in;
    color: red;
    height: auto;
}

.nav-links a:hover,
.nav-links a.active{
    background-color: rgba(255, 255, 255, 0.2);
    color: red;
    border-bottom: 3px solid red;
}


.imageSliderDiv{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    min-height: 1100px;
    transition: background-image 2s ease-in-out;
}

.backgroundDiv2 {
    background-image: url("../images/background-div2.jpg");
    background-size: cover;
    background-position: center;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.backgroundDiv2 p{
    font-family: "Snell Roundhand" ,fantasy;
    font-size: 70px;
    font-weight: lighter;
    padding-left: 50px;
    padding-right: 50px;: ;
}

.backgroundDiv3{
    min-height: 630px;
    background-image: url("/images/change.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    display: flex;
    padding-right: 20px;
}

main article{
    padding-left: 40px;
}

main aside{
    padding:40px;
}

main article h1 {
    font-size: 50px;
    padding-left: 20px;
    font-family: "Apple Chancery", cursive;
    font-weight: lighter;
    width: 300px;
    border-bottom: 3px solid black;
}

main article p{
    color: black;
    font-size: 30px;
    padding-left: 20px;
    font-family: "Apple Chancery", cursive;
    text-align: justify;
}

main article aside{
    padding-right: 80px;
}
