.modal{
    background-color: rgba(0,0,0,0.6); /* darker and better */
    opacity: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    transition: opacity 0.4s ease;
    z-index: -1;
}

.modal.open{
    opacity: 1;
    pointer-events: auto;
    z-index: 9999;
}

.inner-modal {
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.88);
    max-width: 1500px;
    height: fit-content;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    display: flex;
    gap: 40px;
    align-items: flex-start;
    font-size: 25px;
    text-align: justify;
}

#modal-desc {
    line-height: 1.5;
    max-width: 95%;
}

.modal-left img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(255, 0, 0, 0.35);
}

.modal-left{
    width: 400px;
}

.modal-right > * {
    margin-bottom: 20px;
}

.modal-right{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.modal-rating {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 10px 0;
}

.rating-row {
    display: flex;
    align-items: center;
    gap: 15px;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 300px;
    height: 10px;
    border-radius: 5px;
    background: #ddd;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid red;
}

.notes-table {
    border-collapse: collapse;
    width: max-content;
    font-size: 25px;
}

.notes-table th {
    background: #f5f5f5;
    padding: 10px;
    text-align: left;
    width: 150px;
    font-weight: 600;
}

.notes-table td {
    padding: 10px;
    background: #fafafa;
}

.button-wrapper{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 4px;
}
