html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 95px;
}

.page-Design{
    background-image: url("../images/change.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1;
}

.heading{
    display: flex;
    background-image: url("../images/background-div2.jpg");
    justify-content: center;
    align-content: center;
}

.heading h1{
    color: white;
    font-family: "Snell Roundhand" ,fantasy;
    font-weight: lighter;
    font-size: 50px;
    word-spacing: 10px;
    height: 50px;
}

.top-bar{
    display: flex;
    justify-content: space-between;
    padding: 20px 182px;
}

.search{
    background-color: rgba(0,0,0,0.1);
    border: none;
    font-size: 25px;
    color: white;
}

.add-button{
    font-size: 25px;
    background-color: black;
    color: white;
    border: none;
    border-radius:25px;
    width: 400px;
    height: 50px;
}

.add-button:hover{
    color: red;
    border: 2px solid red;
}

.page-layout{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px 20px 40px 20px;
}

.product-card {
    text-align: center;
}

.product-card button {
    display: inline-block;
    padding: 0;
    border: none;
    background: none;

    width: auto;
}

.product-card img {
    display: block;
    width: 290px;
    height: auto;
}

.image:hover{
    box-shadow: 0px 4px 10px rgba(255, 0, 0, 0.5);
}

.modal{
    background-color: rgba(0,0,0,0.5); /* darker and better */
    opacity: 0;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    pointer-events: none;
    transition: opacity 0.3s ease;

    z-index: -1;
}

.modal.open{
    opacity: 1;
    pointer-events: auto;
    z-index: 99999;
}

.inner-modal {
    background-color: white;
    width: 1500px;
    min-height: 1000px;

    border-radius: 15px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

