html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 95px;
}

.page-Design{
    background-image: url("../images/change.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1;
}

.heading{
    display: flex;
    background-image: url("../images/background-div2.jpg");
    justify-content: center;
    align-content: center;
}

.heading h1{
    color: white;
    font-family: "Snell Roundhand" ,fantasy;
    font-weight: lighter;
    font-size: 50px;
    word-spacing: 10px;
    height: 50px;
}

.top-bar{
    display: flex;
    justify-content: space-between;
    padding: 20px 152px;
}

.search{
    background-color: rgba(0,0,0,0.1);
    border: none;
    font-size: 25px;
    color: white;
}

.add-button{
    font-size: 25px;
    background-color: black;
    color: white;
    border: none;
    border-radius:25px;
    width: 400px;
    height: 50px;
}

.add-button:hover{
    color: red;
    border: 2px solid red;
}

.page-layout{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px 20px 40px 20px;
}

.product-card {
    text-align: center;
}

.product-card button {
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
    width: auto;
}

.product-card img {
    width: 350px;
    height: auto;
}

.image:hover{
    box-shadow: 0px 4px 10px rgba(255, 0, 0, 1);
}



