.backgroundDiv2 {
    background-image: url("../images/background-div2.jpg");
    background-size: cover;
    background-position: center;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.backgroundDiv2 p{
    font-family: "Snell Roundhand" ,fantasy;
    font-size: 70px;
    font-weight: lighter;
    padding-left: 50px;
    padding-right: 74px;
    word-spacing: 10px;
}

.backgroundDiv3{
    min-height: 630px;
    background-image: url("../images/change.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    display: flex;
    padding-right: 20px;
}

main article{
    padding-left: 40px;
}

main aside{
    padding:40px;
}

main article h1 {
    font-size: 50px;
    padding-left: 20px;
    font-family: "Apple Chancery", cursive;
    font-weight: lighter;
    width: 300px;
    border-bottom: 3px solid black;
}

main article p{
    color: black;
    font-size: 30px;
    padding-left: 20px;
    font-family: "Apple Chancery", cursive;
    text-align: justify;
}

main article aside{
    padding-right: 80px;
}

