.heading{
    display: flex;
    background-image: url("../images/background-images/heding-home1.jpg");
    justify-content: center;
    align-content: center;
 }

.heading h1{
    color: white;
    font-family: "Snell Roundhand" ,fantasy;
    font-weight: bolder;
    font-size: 70px;
    word-spacing: 10px;
    height: 70px;
    padding-bottom: 16px;
}
