body {
    margin: 0;
    background-color: black;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    padding: 10px 20px;
    height: 95px;
    z-index: 1000;
    transition: background-color 0.3s ease;
}
.navbar.scrolled{
    background-color: rgb(30, 30, 30);
    transition: background-color 0.6s ease;
}

.navbar.scrolled .drop-down {
    background-color: rgb(30, 30, 30);
    transition: background-color 0.6s ease;
}
.logo {
    color: white;
    font-weight: bolder;
    font-size: 50px;
    padding-bottom: 2px;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    flex: 1;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    font-size: 30px;
    text-decoration: none;
    font-weight: bolder;
    padding: 40px 40px;
    align-items: center;
    height: 100%;
}

.nav-links a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transition: background-color 0.3s ease-in;
    color: red;
    height: auto;
}

.nav-links a:hover,
.nav-links a.active{
    background-color: rgba(255, 255, 255, 0.2);
    color: red;
    border-bottom: 3px solid red;
}

/* hide dropdown by default */
.drop-down {
    display: none;
    position: absolute;
    list-style: none;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    text-align: center;
}

.dropdown:hover .drop-down {
    margin-top: 40px;
    display: block;
    width: 192px;
}

.drop-down li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    font-size: 30px;
}

.drop-down li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: red;
}

.imageSliderDiv{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    min-height: 1100px;
    transition: background-image 2s ease-in;
}