.backgroundDiv2 {
    background-image: url("../images/background-images/background-div2.jpg");
    background-size: cover;
    background-position: center;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.backgroundDiv2 p{
    font-family: "Snell Roundhand" ,fantasy;
    font-size: 70px;
    font-weight: lighter;
    padding-left: 50px;
    padding-right: 74px;
    word-spacing: 10px;
}

.introduction{
    display: flex;
    background-image: url("../images/background-images/niche-bg.jpg");
    justify-content: center;
    align-content: center;
    height: 150px;
    padding: 20px 20px 45px;
}

.introduction h1{
    color: black;
    font-weight: lighter;
    font-size: 30px;
    font-family: "Apple Chancery", cursive;
    text-align: center;
}

.heading{
    display: flex;
    background-image: url("../images/background-images/heding-home1.jpg");
    justify-content: center;
    align-content: center;
}

.heading h1{
    color: white;
    font-family: "Snell Roundhand" ,fantasy;
    font-weight: bolder;
    font-size: 70px;
    word-spacing: 10px;
    height: 70px;
    padding-bottom: 16px;
}

.page-Design{
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1;
}

.page-layout{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 40px 20px 20px 40px;
    background-image: url("../images/background-images/products-home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.product-card {
    text-align: center;
    margin-bottom: 10px;
}

.product-card:last-child{
    margin-bottom: 20px;
}

.product-card img:hover{
    box-shadow: 0px 4px 10px rgba(255, 0, 0, 1);
}

.product-card button {
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
    width: auto;
}

.product-card img {
    width: 350px;
    height: auto;
}